<footer class="airbnb-footer">
  <div class="footer-container">

    <!-- COLUMN 1 -->
    <div class="footer-col">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Safety Information</a></li>
        <li><a href="#">Cancellation Options</a></li>
        <li><a href="#">Report a Concern</a></li>
      </ul>
    </div>

    <!-- COLUMN 2 -->
    <div class="footer-col">
      <h4>Hosting</h4>
      <ul>
        <li><a href="#">Try Hosting</a></li>
        <li><a href="#">Host Protection</a></li>
        <li><a href="#">Hosting Resources</a></li>
        <li><a href="#">Community Forum</a></li>
      </ul>
    </div>

    <!-- COLUMN 3 -->
    <div class="footer-col">
      <h4>Company</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Newsroom</a></li>
        <li><a href="#">Investors</a></li>
      </ul>
    </div>

    <!-- COLUMN 4 - Newsletter -->
    <div class="footer-col newsletter">
      <h4>Stay in Touch</h4>
      <p>Subscribe to our newsletter for the latest updates and deals!</p>
      <form class="newsletter-form">
        <input type="email" placeholder="Your email" required>
        <button type="submit">Subscribe</button>
      </form>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

  </div>

  <!-- BOTTOM BAR -->
  <div class="footer-bottom">
    <p>© <%= new Date().getFullYear() %> WonderLust, Inc.</p>
    <div class="footer-links">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
      <a href="#">Sitemap</a>
    </div>
  </div>
</footer>
