<nav id="main-navbar" class="navbar navbar-expand-md fixed-top">
  <div class="container-fluid navbar-container">

    <a class="navbar-brand brand-logo" href="/listings">
      <i class="fa-solid fa-hotel"></i>
      <span class="brand-text">WonderLust</span>
    </a>

    <button class="navbar-toggler custom-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto nav-links">

        <li class="nav-item">
          <a class="nav-link nav-home" href="/listings">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-add" href="/listings/new">Add Listing</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-about" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-contact" href="/contact">Contact</a>
        </li>

      


  <li class="nav-item">
  <a class="nav-link d-flex align-items-center" href="/profile">
    <i class="fa-solid fa-user-circle fs-4"></i>
  </a>
</li>


        

      </ul>
    </div>
  </div>
</nav>
